<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
        <span class="logo-lg">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="~/Velonic_v6.0.0/Admin/distassets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Main</li>

            <li class="side-nav-item">
                <a href="/Dashboard/Index" class="side-nav-link">
                    <i class="ri-dashboard-3-line"></i>
                    <span class="badge bg-success float-end"></span> 
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Brand/Index" class="side-nav-link">
                    <i class="ri-pages-line"></i>
                    <span> Markalar </span>        
                </a>
                
            </li>
            <li class="side-nav-item">
                <a href="/CarCategory/Index" class="side-nav-link">
                    <i class="ri-pages-line"></i>
                    <span> Kategoriler </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a href="/CarStatus/Index" class="side-nav-link">
                    <i class="mdi mdi-car-cog"></i>
                    <span> Araç Durum </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Car/CarListWithBrands" class="side-nav-link">
                    <i class="mdi mdi-car-multiple"></i>
                    <span> Arabalar & Markalr</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Car/Index" class="side-nav-link">
                    <i class="mdi mdi-car-back"></i>
                    <span> Arabalar </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Price/Index" class="side-nav-link">
                    <i class="mdi mdi-currency-usd"></i>
                    <span> Araç Fiyatları </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/AdminTestimonial/Index" class="side-nav-link">
                    <i class="mdi mdi-human-male-male"></i>
                    <span>Referanlar</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/AdminTeam/Index" class="side-nav-link">
                    <i class="mdi mdi-microsoft-teams"></i>
                    <span> Takım Arkadaşlarımız</span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/AdminContact/Index" class="side-nav-link">
                    <i class="mdi mdi-contacts-outline"></i>
                    <span> İletişim</span>
                </a>
            </li>


        </ul>


        <div class="clearfix"></div>
    </div>
</div>
<i class="mdi mdi-car-cog"></i>