@model MyAcademyCarBook.EntityLayer.Concrete.Car
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<h1>Aranba Ekleme sayfası</h1>

<form method="post" asp-action="CreateCar" asp-controller="Car">
    <label>Arab Categori</label>
    <select asp-items="ViewBag.c" asp-for="CarCategoryID" class="form-control"></select>
    <br /> 
    <lable>Arab Marka</lable>
    <select asp-items="ViewBag.b" asp-for="BrandID" class="form-control"></select>
    <br />
    <lable>Arab Model</lable>
    <input type="text" asp-for="Model" class="form-control" />
    <br />
    <label>Arab Durum</label>
    <select asp-items="ViewBag.cs" asp-for="CarStatusID" class="form-control"></select>
    <br />
    <label>Vites Tipi</label>
    <input type="text" asp-for="GearType" class="form-control" />
    <br />
    <label>Araç Resim</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Araç Km</label>
    <input type="text" asp-for="Km" class="form-control" />
    <br />
    <label>Araç Yıl</label>
    <input type="text" asp-for="Year" class="form-control" />
    <br />
    <label>Araç Durum</label>
    <input type="text" asp-for="Status" class="form-control" />
    <br />
    <label>Araç Kişi Sayısı</label>
    <input type="text" asp-for="PersonCount" class="form-control" />
    <br />
    <button class="btn btn-primary" type="submit">Araç ekle</button>
</form>
