@model List<MyAcademyCarBook.EntityLayer.Concrete.About>

<div class="site-section">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                    <img src="@item.Image1" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-4 mr-auto">
                    <h2>@item.Title1</h2>
                    <p>@item.Description1</p>
                </div>
            </div>
        }

    </div>
</div>