@model List<MyAcademyCarBook.EntityLayer.Concrete.Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<h1>Takım Arkadaşlarımız</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Çalışan  Ad Soyad</th>
        <th>Çalışan Ünvanı</th>        
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TeamID</td>
            <td>@item.TeamNameSurname</td>
            <td>@item.TeamTitle</td>
            <td><a href="/AdminTeam/DeleteTeam/@item.TeamID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminTeam/UpdateTeam/@item.TeamID" class="btn btn-outline-success">Güncelle</a></td>

        </tr>

    }

</table>
<a href="/AdminTeam/CreateTestimonial" class="btn btn-outline-primary">Yeni Takım Arkadaşı Girişi</a>
